@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
    overflow-x: hidden;
    background-color: black;
    color: white;
}

ul li::before {
    content: "\25C9";
    color: white;
    margin-right: 5px;
}

.footer {
    animation: move 10s linear 2s infinite normal;
}

@keyframes move {
    from {
        transform: translate(120%);
    }

    to {
        transform: translate(-120%);
    }
}

@media screen and (min-width: 600px) {
    .footer {
        animation: move 20s linear 2s infinite normal;
    }
}

@media screen and (max-width: 475px) {
    .footer {
        font-size: 0.7rem;
        padding: 2px;
    }
}